.contato {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.5rem;
}

.dados h2 {
  font-size: 1.8rem;
  margin-bottom: 2rem;
}

.dados ul li {
  font-size: 1.1rem;
  margin-bottom: 0.8rem;
}

.dados ul li::before {
  content: "";
  display: inline-block;
  margin-right: 1rem;
  width: 20px;
  height: 4px;
  background: #ccc;
}
