.header {
  margin-bottom: 2rem;
}

.header ul {
  display: flex;
}

.header ul li:first-child {
  margin-right: 1rem;
}

.link {
  color: black;
  background: #ddd;
  padding: 0.5rem;
  border-radius: 4px;
}

.active,
.link:hover {
  background: #bbb;
}
