* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  margin: 1.5rem 1.5rem 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  border-radius: 4px;
}

.animaleft {
  opacity: 0;
  transform: translateX(-30px);
  animation: animaleft 0.3s forwards;
}

@keyframes animaleft {
  to {
    opacity: initial;
    transform: initial;
  }
}
